<section id="projects" class="h-screen p-12 bg-green-400">
  <h2 class="text-3xl font-bold text-center mb-8">Projects</h2>

  <div class="grid md:grid-cols-2 gap-8">
    <div class="p-6 bg-white border rounded-lg shadow hover:text-white hover:bg-blue-500 hover:shadow-xl">
      <h3 class="text-xl font-semibold mb-2">Hospital Management System </h3>
      <p class="text-black">
Designed and built a web-based dashboard to manage hospitals, doctors, patients, and emergency cases in real
 time.Using Angular, Spring Boot (Java) backend. MySQL database.</p>
    </div>
    <div class="p-6 bg-white border rounded-lg shadow hover:text-white hover:bg-yellow-500 hover:shadow-xl">
      <h3 class="text-xl font-semibold mb-2">CABINTERIA</h3>
      <p class="text-black">A web-based food ordering system for institutions and companies.
        Implemented role-based modules for admins (menu management) and users (order placement) to ensure efficient dining operations.
      </p>
    </div>
  </div>
  <h2 class="text-3xl font-bold text-center m-8">Internship</h2>
    <div class="p-6 bg-white border rounded-lg shadow hover:text-white hover:bg-red-500 hover:shadow-xl">
      <h3 class="text-xl font-semibold mb-2">V11 Tech</h3>
      <p class="text-black">Enhanced an interactive V11-QR Landing module for V11Tech.com, implementing scroll-based animations with Intersection 
Observer API for smooth user engagement.
Designed and built a responsive service grid featuring multiple restaurant & retail categories with icons and hover 
effects, enhancing UI clarity and usability. 
     
      </p>
    </div>
</section>
